.jumbotron {
  /* 2rem 1 rem = padding atas bawah 2 rem dan kiri kanan 1 rem */
  padding-top: 5rem;
  /* padding: 2rem 1rem; */
  background-color: #e2edff;
}

/* kalau id pakai tanda # */
#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

/* membuat semua element yg ada di bagian row di gallery padding nya jadi 0*/
#gallery .row * {
  padding: 0;
}
